<?xml version="1.0" encoding="UTF-8"?>
<!-- logback的配置文件    -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[weixin] %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/data/logs/wx/wx.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern><strong>weixin.%i.log</strong></FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>100</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[weixin] %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="INDEX" class="ch.qos.logback.core.FileAppender">
        <file>/data/logs/wx/index.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern><strong>weixin.%d{yyyy-MM-dd}.log</strong></FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>100</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[weixin] %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="club.lovety" level="debug" additivity="false">
        <appender-ref ref="INDEX"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>