.my-index-card li {
    width: 50%;
}

.goods-list.style-small > li {
    width: 50%;
    float: left;
    padding: 0 5px 0 0 !important;
    background: 0 0;
}

header {
    position: fixed !important;
}

.my-trans-duration {
    transition-duration: 500ms !important;
}

.my-index-icon {
    font-size: 30px;
    border: 1px solid silver;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    line-height: 45px !important;
    margin-top: 2px;
    /*background-color: yellowgreen;*/
}

.my-index-icon-font {
    font-size: 5px !important;
}

.my-mui-media-object {
    line-height: 100px;
    max-width: 100px;
    height: 100px;
    min-width: 100px;
}

.my-list-item {
    padding: 10px 15px 10px 10px !important;
}

.my-item-bottom {
    position: absolute;
    bottom: 10px;
}

.my-item-right-10 {
    margin-left: 10px;
}

.my-two-ellipsis {
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}

.my-view-bar {
    text-align: left;
    width: 30%;
}

nav .my-view-bar-div {
    float: left;
    height: 100%;
    /*margin-left: 5px;*/
}

nav .my-view-bar-div .my-view-buy-price {
    height: 50px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 50px;
    right: 0px;
    text-align: right;
}

nav .my-view-bar-div .my-icon {
    width: 33.333%;
    text-align: center;
    border-right: 1px solid #929292;
    bottom: 0px;
    float: left;
    height: 50px;
}

nav .my-view-bar-div .my-view-var-div-btn {
    bottom: 0px;
    float: left;
    height: 100%;
    background-color: #2ac845;
}

.mui-bar-tab .my-view-bar-div .mui-icon {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.mui-bar-tab .my-view-bar-div .my-view-var-div-btn {
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
}

.mui-bar .mui-icon {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.mui-icon {
    font-family: Muiicons;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.mui-bar-tab .my-view-bar-div .mui-tab-label {
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #929292;
}

.mui-navigate-right .my-order-address-header .my-order-address-name {
    color: black;
}

.mui-navigate-right .my-order-address-header .my-order-address-mobile {
    margin-left: 120px;
    color: #6d6d72;
}

.mui-navigate-right .my-order-address-body {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: small;
    margin-top: 10px;
}

.mui-navigate-right .my-order-address {
    margin-right: 20px;
}

.my-item-left-170 {
    margin-left: 170px;
}

.my-item-left-200 {
    margin-left: 200px;
}
.my-ellipsis {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: inherit;
}

.my-order-liuyan {
    width: 100%;
    height: 50px;
    margin-right: 5px;
}

.my-order-liuyan textarea {
    margin: 5px 0 0 0;
}

.my-order-number {
    border-bottom: solid cornsilk 1px;
    background-color: #fff;
    padding-left: 5px;
}

.my-order-number .my-numbox {
    margin-left: 175px;
}

.my-order-ps {
    padding-left: 5px;
    width: 100%;
    border-bottom: solid cornsilk 1px;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.my-order-ps .my-order-yj-price {
    margin-left: 30%;
}

.my-yj-head-right {
    color: #6d6d72 !important;
}

.my-navigate-addr:after {
    right: 15px;
    content: no-close-quote;
}

.my-navigate-addr-xz:after {
    right: 15px;
    content: no-close-quote;
}

.my-bar-save-center {
    color: #fff;
    text-align: center;
    background-color: red;
    line-height: 50px;
    display: inline-block;
    font-size: 20px;

}

.my-bar-center {
    text-align: center;
}

.my-input {
    padding: 10px 15px;
    height: 40px;
    line-height: 21px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.my-input-view {
    padding: 10px 15px;
    height: 40px;
    line-height: 21px;
    display: inline-block;
    width: 65%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.my-input-pull-right:after {
    right: 15px;
    content: '\e583';
}

.color-silver {
    color: silver;
}

.my-center-p p {
    margin: 10px 0px 10px 5px;
}

.my-center-bar {
    margin-top: 5px;
    height: 60px;
    width: 100%;
    float: left;
    background-color: #fff;
    border-bottom: solid silver 1px;
}

.my-center-bar .mui-tab-item {
    width: 1%;
    display: table-cell;
    overflow: hidden;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
}

.my-center-bar .mui-tab-item .mui-tab-label {
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mui-tab-item .order-number {
    position: relative;
    font-size: 10px;
    top: 0px;
    right: 25px;
    z-index: 40;
    float: right;
    width: 20px;
    height: 20px;
    color: #ff5a12;
    border: solid #ff5a12 2px;
    border-radius: 50%;
}

.my-center-bar .my-center-bar-icon {
    font-size: 30px;
}

.my-center-all-order {
    clear: both;
}

.my-order-tab {
    display: none;
}

.my-order-tab.my-order-active {
    display: block;
}

.mui-card-content-inner .my-card-content-img {
    width: 70px;
    height: 70px;
    float: left;
}

.my-card-content-inner {
    padding: 5px;
    height: 80px;
}

.mui-slider-handle .my-shopcart-choice {
   position: absolute;
   top: 25px;
    font-size: 30px;
}
.mui-slider-handle .my-shopcart-choice.icon-xuanze{
    color: red;
}
.my-view-bar-div .my-nav-shopcart-choice.icon-xuanze{
    color: red;
}

.my-shopcart-choice-div .icon-yuan{
    font-size: 30px;
}

.my-shopcart-media {
    width: 80px;
    height: 80px;
    margin-left:40px;
}

.my-table-shopcart-ul {
    margin-top: 5px;
}

.my-table-shopcart-ul li {
    padding: 5px;
}

nav .my-view-bar-div .my-shopcart-choice-div {

}

nav .my-view-bar-div .my-shopcart-choice-div span {
    float: left;
}

nav .my-view-bar-div .my-shopcart-choice-div .my-nav-shopcart-choice {
    width: 20px;
    height: 20px;

    margin-right: 15px;
    display: block;
    line-height: 20px;
    margin-top: 14px;
    margin-left: 5px;

}

nav .my-view-bar-div .my-shopcart-choice-div .my-bav-shopcart-choice-all {
    font-size: 18px;
}

nav .my-view-bar-div .my-view-shopcart {
    height: 50px;
    display: inline-block;
    width: 70%;
    font-size: 18px;
    line-height: 50px;
    right: 0px;
    text-align: right;
    float: right;
}

nav .my-view-bar-div .my-shopcart-choice-div {
    width: 30%;
    float: left;
    height: 50px;
    display: inline-block;
    line-height: 50px;
}

/**弹出组件的编写 */
.my-popover-win {
    display: none;
    z-index: 1000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 220px;
    opacity: 0.9;
    background-color: #fff;
    transition-duration: .4s;
}

.my-popover-win-show {
    display: block;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.my-popover {
    display: block;
    z-index: 999;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #6d6d72;
    transition-duration: 1.4s;
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
/**************************************************/
.my-popover-win .my-buy-div-img{
    height: 100px;
    width: 100px;
    position: relative;
    margin-top: -20px;
    z-index: 1100;
    margin-left: 20px;
    float: left;
    padding: 5px;
    background-color: #fff;
    border: 1px silver solid;
}

.my-popover-win .my-buy-div-img img{
    height: 100%;
    width: 100%;
}

.my-popover-win .my-buy-div{
    width: 100%;
    height: 100px;
    border-bottom:1px silver solid;
}

.my-popover-win .my-close{
    width: 20px;
    height: 20px;
    border: 1px silver solid;
    border-radius: 50%;
    float: right;
    margin: 5px;
    text-align: center;
    display: inline-block;
    line-height: 15px;
}


.my-popover-win .my-buy-number{
    border-bottom:1px silver solid;
    height: 50px;
    padding: 5px;
    width: 100%;
}
.my-popover-win .my-buy-btn{
    padding: 5px;
    color: #fff;
}
.my-popover-win .my-buy-number .my-numbox{
    text-align: right;
    float: right;
}
.my-popover-win .my-buy-number .my-buy-number-kc{
    padding-right: 5px;
    float: left;
    margin-left: 25%;
    margin-top: 7px;
}

.my-middle-grid-view li{
    width: 20%;
    float: left;
    margin-bottom: 5px;
    margin-right: 0px !important;
}
.my-middle-icon-name{
    font-size: 12px !important;
    margin-top: 0px !important;
    color: #5D5050 !important;
}

#index_ul_item li .left-span{
    /*background-color: #FF0000;*/
    color: #FF0000;
    font-size: 15px;
    border-radius: 10%;
    padding-left: 10px;
}

#index_ul_item li .right-span{
    background-color: #FF3300;
    color: #fff;
    font-size: 15px;
    border-radius: 10%;
    float: right;
    width:40px ;
    text-align: center;
    /*padding-right: 10px;*/
}

#index_ul_item li .my-index-card-footer .my-mui-ellipsis{
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    width: 100%;
    display: block;
    height: 20px;
    padding: 0px 5px 0px 10px;
}
.my-index-card-footer{
    padding: 0px;
    display: block;
    /*min-height: 65px;*/
}

.my-item-list-header{
    height: 40px;
}
.my-item-list-header ul{
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.my-item-list-header ul li{
    float: left;
    width: 25%;
    height: 30px;
    margin-top: 5px;
    border-right: 1px silver solid;
    line-height: 30px;
    /*display: inline-block;*/
    text-align: center;
    font-size: 15px;
}


.my-item-list-header ul li .my-header-icon{
    line-height: 30px;
    color: #777;
    font-size: 18px;
    display: inline-block;
    /*height: 30px;*/
    /*padding-top: 5px;*/
    /*text-align: center;*/
}

.my-head-pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    left: 45%;
    /*float: left;*/
}

.mui-bar .mui-icon-extra {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.mui-bar-tab .mui-tab-item .mui-icon-extra {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.mui-bar-tab .mui-tab-item .mui-icon-extra ~ .mui-tab-label {
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-item-list-title{
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    padding-left: 5px;

}

.my-item-list-shop-cart{
    float: right;
    margin-right: 5px;
    font-size: 25px  !important;
}

.mui-tab-item .my-shop-cart-bz {
    display:block;
    position: absolute; opacity: 1; filter:Alpha(opacity=1);
    text-align: center;
    /*position: relative;*/
    left:70%;
    font-size: 10px;
    color: #fff;
    height: 20px;
    width: 20px;
    border:1px solid silver;
    border-radius: 50%;
    color: #fff;
    background-color:#3366FF;
}

.my-shop-cart-bz-hidden{
    display:none !important;
}
.my-color-red{
    color: red !important;
}
.mui-table-view-cell.mui-active{
    background-color: #fff;
}

.flyer-img{display: block;width: 50px;height: 50px;border-radius: 50px;position: fixed;z-index: 9999;}

#mui_slider_loop_id{
    min-height: 131px;

}
.my-item-view-share{
    width: 50px;
    height: 50px;
    border-left:1px solid silver;
    text-align: center;
}

.my-item-view-share span{
    display: block;
}

.my-item-view-share:nth-child(2)
{
    font-size: 15px;
    color: silver;
}
.my-item-view-icon{
    top: 3px;
    width: 24px;
    height: 24px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

}

.my-icon .my-shop-cart-view-bz {
    /*display:block;*/
    position: absolute; opacity: 1; filter:Alpha(opacity=1);
    text-align: center;
    /*position: relative;*/
    left:33%;
    font-size: 10px;
    color: #fff;
    height: 20px;
    width: 20px;
    border:1px solid silver;
    border-radius: 50%;
    color: #fff;
    background-color:#3366FF;
}

.my-shopcart-content{
    float: right;
    height: 100%;
    width: 65%;
}
.my-shopcart-content .my-shop-cart-db{
    margin-top: 5px;
}
.my-shopcart-content .my-shop-cart-db .my-shop-cart-price{
    position: absolute;
    bottom: 0px;
    color: red;
}
.my-shopcart-content .my-shop-cart-db .my-numbox{
    position: absolute;
    float: right;
    right: 0px;
    height: 30px;
    bottom: 0px;
}


.my-denger-color{
    background-color: #FF0000 !important;
}
/***************************弹出提示框的模板*****************************/
.pg-load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(53, 47, 47, 0.52);
    z-index: 1000;
    opacity: 0.5;
}
.pg-toast{
    border-radius: 10%;
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: 1s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    position: fixed;
    width: 100px;
    height:100px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: 2000;
    padding-top: 20px;
    background-color: rgba(111, 96, 96, 0.66);
    /*line-height: 100px;*/
    /*display: inline;*/
    display: block;
}
.pg-toast span{
    display: block;
}
.pg-toast .loading{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #67CF22;
    left: 25px;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(100px) }
    50% { -webkit-transform: perspective(100px) rotateY(180deg) }
    100% { -webkit-transform: perspective(100px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% {
        transform: perspective(100px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(100px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(100px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(100px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(100px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(100px) rotateX(-180deg) rotateY(-179.9deg);
        }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}


/*********************************到这里为止为弹出加载框的css******************************************/