.my-index-card li {
    width: 50%;
}

.goods-list.style-small > li {
    width: 50%;
    float: left;
    padding: 0 5px 0 0 !important;
    background: 0 0;
}

header {
    position: fixed !important;
}

.my-trans-duration {
    transition-duration: 500ms !important;
}

.my-index-icon {
    font-size: 34px;
}

.my-index-icon-font {
    font-size: 5px !important;
}

.my-mui-media-object {
    line-height: 100px;
    max-width: 100px;
    height: 100px;
}

.my-list-item {
    padding: 10px 15px 10px 10px !important;
}

.my-item-bottom {
    position: absolute;
    bottom: 10px;
}

.my-item-right-10 {
    margin-left: 10px;
}

.my-two-ellipsis {
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}

.my-view-bar {
    text-align: left;
    width: 30%;
}

nav .my-view-bar-div {
    float: left;
    height: 100%;
    /*margin-left: 5px;*/
}

nav .my-view-bar-div  .my-view-buy-price{
    height: 50px;
    display: inline-block;
    width: 100%;
    font-size:18px;
    line-height: 50px;
    right: 0px;
    text-align: right;
}
nav .my-view-bar-div .my-icon {
    width:33.333%;
    text-align: center;
    border-right: 1px solid #929292;
    bottom: 0px;
    float: left;
    height: 50px;
}
nav .my-view-bar-div .my-view-var-div-btn {
    bottom: 0px;
    float: left;
    height: 100%;
    background-color: #2ac845;
}

.mui-bar-tab .my-view-bar-div .mui-icon {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}
.mui-bar-tab .my-view-bar-div .my-view-var-div-btn{
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size:18px;
    line-height: 50px;
}

.mui-bar .mui-icon {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.mui-icon {
    font-family: Muiicons;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.mui-bar-tab .my-view-bar-div .mui-tab-label {
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #929292;
}
.mui-navigate-right .my-order-address-header .my-order-address-name{
    color: black;
}

.mui-navigate-right .my-order-address-header .my-order-address-mobile{
    margin-left: 120px;
    color: #6d6d72;
}

.mui-navigate-right .my-order-address-body{
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: small;
    margin-top: 10px;
}

.mui-navigate-right .my-order-address{
    margin-right: 20px;
}

.my-item-left-170{
    margin-left: 170px;
}

.my-ellipsis {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: small;
}

.my-order-liuyan{
    width: 100%;
    height: 50px;
    margin-right: 5px;
}

.my-order-liuyan textarea{
    margin: 5px 0 0 0;
}
.my-order-number{
    border-bottom: solid cornsilk 1px;
    background-color: #fff;
    padding-left: 5px;
}
.my-order-number .my-numbox{
    margin-left: 175px;
}
.my-order-ps{
    padding-left: 5px;
    width: 100%;
    border-bottom: solid cornsilk 1px;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}
.my-order-ps .my-order-yj-price{
    margin-left: 200px;
}
.my-yj-head-right{
     color: #6d6d72 !important;
}

.my-navigate-addr:after{
    right: 15px;
    content: no-close-quote;
}

.my-navigate-addr-xz:after{
    right: 15px;
    content: no-close-quote;
}

.my-bar-save-center{
    color: #fff;
    text-align: center;
    background-color: red;
    line-height: 50px;
    display: inline-block;
    font-size: 20px;

}

.my-bar-center{
    text-align: center;
}
.my-input{
    padding: 10px 15px;
    height: 40px;
    line-height: 21px;
    display: inline-block;
    width: 100%;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.my-input-view{
    padding: 10px 15px;
    height: 40px;
    line-height: 21px;
    display: inline-block;
    width: 65%;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.my-input-pull-right:after{
    right: 15px;
    content: '\e583';
}
.color-silver{
    color: silver;
}
.my-center-p p{
    margin: 10px 0px 10px 5px;
}

.my-center-bar{
    margin-top: 5px;
    height: 60px;
    width: 100%;
    float: left;
    background-color: #fff;
    border-bottom: solid silver 1px;
}

.my-center-bar .mui-tab-item {
    width: 1%;
    display: table-cell;
    overflow: hidden;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
}

.my-center-bar .mui-tab-item  .mui-tab-label {
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mui-tab-item .order-number{
    position: relative;
    font-size: 10px;
    top: 0px;
    right: 25px;
    z-index: 40;
    float: right;
    width: 20px;
    height: 20px;
    color: #ff5a12;
    border: solid #ff5a12 2px;
    border-radius: 50%;
}
.my-center-bar .my-center-bar-icon{
    font-size: 30px;
}
.my-center-all-order{
    clear: both;
}

