@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.icon-gouwuche:before { content: "\e678"; }
.icon-gouwuche1:before { content: "\e607"; }
.icon-iconfont02:before { content: "\e601"; }
.icon-gouwuche2:before { content: "\e604"; }
.icon-xinpinshangshi:before { content: "\e6cf"; }
.icon-tejia:before { content: "\e6e6"; }
.icon-fenlei:before { content: "\e665"; }
.icon-faxian:before { content: "\e607"; }
.icon-iconfontgouwuche:before { content: "\e609"; }
.icon-xuanze:before { content: "\e60b"; }
.icon-paixu:before { content: "\e606"; }
.icon-xuanze1:before { content: "\e600"; }
.icon-faxian1:before { content: "\e608"; }
.icon-xuanze2:before { content: "\e60c"; }
.icon-tianjiagouwuche:before { content: "\e60a"; }
.icon-xuanze3:before { content: "\e601"; }
.icon-xuanze4:before { content: "\e60d"; }
.icon-shengxu:before { content: "\e603"; }
.icon-xuanze5:before { content: "\e602"; }
.icon-16pxshengjiangxu:before { content: "\e604"; }
.icon-jiangxu-copy:before { content: "\e605"; }
.icon-yuan:before { content: "\e60e"; }
.icon-39:before { content: "\e60e"; }